<?xml version="1.0" encoding="utf-8"?>
<config>
    <rect name="WindowPosition">
        <xmin>134</xmin>
        <xmax>484</xmax>
        <ymin>49</ymin>
        <ymax>539</ymax>
    </rect>
    <bool name="WindowMinimized">1</bool>
    <rect name="MapPosition">
        <xmin>553</xmin>
        <xmax>1591</xmax>
        <ymin>260</ymin>
        <ymax>808</ymax>
    </rect>
    <bool name="MapMinimized">1</bool>
    <int name="WindowTab">0</int>
    <string name="DefaultSets">Kerbell|Basic;Mikie|Basic;RealKerb|Basic;scenarios|Disable;training|Disable;</string>
</config>