<?xml version="1.0" encoding="utf-8"?>
<config>
    <rect name="WindowPosition">
        <xmin>1</xmin>
        <xmax>351</xmax>
        <ymin>80</ymin>
        <ymax>576</ymax>
    </rect>
    <bool name="WindowMinimized">1</bool>
    <rect name="MapPosition">
        <xmin>344</xmin>
        <xmax>1390</xmax>
        <ymin>213</ymin>
        <ymax>769</ymax>
    </rect>
    <bool name="MapMinimized">1</bool>
    <int name="WindowTab">0</int>
    <string name="DefaultSets">Kerbell|Basic;Mikie|Basic;RealKerb|Basic;scenarios|Disable;SESI1|Basic;Test|Basic;training|Disable;</string>
</config>