<?xml version="1.0" encoding="utf-8"?>
<config>
    <rect name="windowPos">
        <xmin>654</xmin>
        <xmax>1380</xmax>
        <ymin>75</ymin>
        <ymax>575</ymax>
    </rect>
    <bool name="EditorGUIBool">1</bool>
    <rect name="FlightWindowPos">
        <xmin>1061</xmin>
        <xmax>1273</xmax>
        <ymin>217</ymin>
        <ymax>471</ymax>
    </rect>
    <rect name="AutopilotWinPos">
        <xmin>0</xmin>
        <xmax>0</xmax>
        <ymin>0</ymin>
        <ymax>0</ymax>
    </rect>
    <rect name="HelpWindowPos">
        <xmin>0</xmin>
        <xmax>0</xmax>
        <ymin>0</ymin>
        <ymax>0</ymax>
    </rect>
    <rect name="FlightDataPos">
        <xmin>201</xmin>
        <xmax>459</xmax>
        <ymin>57</ymin>
        <ymax>599</ymax>
    </rect>
    <rect name="FlightDataHelpPos">
        <xmin>0</xmin>
        <xmax>0</xmax>
        <ymin>0</ymin>
        <ymax>0</ymax>
    </rect>
    <rect name="AirSpeedPos">
        <xmin>90</xmin>
        <xmax>290</xmax>
        <ymin>70</ymin>
        <ymax>278</ymax>
    </rect>
    <rect name="AirSpeedHelpPos">
        <xmin>0</xmin>
        <xmax>0</xmax>
        <ymin>0</ymin>
        <ymax>0</ymax>
    </rect>
    <string name="k_wingleveler">0.1</string>
    <string name="kd_wingleveler">0.002</string>
    <string name="k_yawdamper">0.1</string>
    <string name="k_pitchdamper">0.25</string>
    <string name="scaleVelocity">150</string>
    <string name="alt">0</string>
    <string name="upperLim">25</string>
    <string name="lowerLim">-25</string>
    <string name="k_limiter">0.25</string>
    <bool name="FlightGUIBool">0</bool>
    <string name="areaFactor">1</string>
    <string name="attachNodeDiameterFactor">1</string>
    <string name="incompressibleRearAttachDrag">0.01</string>
    <string name="sonicRearAdditionalAttachDrag">0.2</string>
    <int name="SpacePortID">1113</int>
    <string name="Name">Ferram Aerospace Research</string>
    <string name="ctrlSurfTimeConstant">0.25</string>
    <string name="Body0SpecHeatRatio">1.4</string>
    <string name="Body0GasMolecularWeight">28.96</string>
    <string name="Body1SpecHeatRatio">1.4</string>
    <string name="Body1GasMolecularWeight">28.96</string>
    <string name="Body2SpecHeatRatio">1.4</string>
    <string name="Body2GasMolecularWeight">28.96</string>
    <string name="Body3SpecHeatRatio">1.4</string>
    <string name="Body3GasMolecularWeight">28.96</string>
    <string name="Body4SpecHeatRatio">1.4</string>
    <string name="Body4GasMolecularWeight">28.96</string>
    <string name="Body5SpecHeatRatio">1.286</string>
    <string name="Body5GasMolecularWeight">43.2102</string>
    <string name="Body6SpecHeatRatio">1.286</string>
    <string name="Body6GasMolecularWeight">43.2102</string>
    <string name="Body7SpecHeatRatio">1.4</string>
    <string name="Body7GasMolecularWeight">28.96</string>
    <string name="Body8SpecHeatRatio">1.426</string>
    <string name="Body8GasMolecularWeight">2.21466</string>
    <string name="Body9SpecHeatRatio">1.309</string>
    <string name="Body9GasMolecularWeight">47.0465</string>
    <string name="Body10SpecHeatRatio">1.4</string>
    <string name="Body10GasMolecularWeight">28.96</string>
    <string name="Body11SpecHeatRatio">1.4</string>
    <string name="Body11GasMolecularWeight">28.96</string>
    <string name="Body12SpecHeatRatio">1.4</string>
    <string name="Body12GasMolecularWeight">28.96</string>
    <string name="Body13SpecHeatRatio">1.4</string>
    <string name="Body13GasMolecularWeight">28.96</string>
    <string name="Body14SpecHeatRatio">1.4</string>
    <string name="Body14GasMolecularWeight">28.96</string>
    <string name="Body15SpecHeatRatio">1.4</string>
    <string name="Body15GasMolecularWeight">28.96</string>
    <string name="Body16SpecHeatRatio">1.4</string>
    <string name="Body16GasMolecularWeight">28.96</string>
    <string name="payloadFairingTitle0">payload</string>
    <string name="payloadFairingTitle1">fairing</string>
    <string name="payloadFairingTitle2">shroud</string>
    <string name="cargoBayTitle0">cargo bay</string>
    <string name="cargoBayTitle1">bomb bay</string>
    <string name="cargoBayTitle2">service compartment</string>
    <string name="cargoBayTitle3" />
    <string name="payloadFairingTitle3" />
    <string name="exemptAttachNodeString1" />
    <string name="exemptAttachNodeString2" />
    <string name="exemptAttachNodeString3" />
    <string name="exemptAttachNodeString0" />
</config>